@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap'); 
*{
    margin: 0;
    padding: 0;
}
.sidebar{
    background-color: red;
    width: 20vw;
    font-family: 'Fira Sans', sans-serif;
    height: 100vh ;
}
.sidebar nav {
    padding: 72px;
}
.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}
.main{
    background-color: yellow;
    width: 90vw;
}
.container{
    display: flex;
}
.infoContainer{
    background-color: beige;
    height: 78vh;
    width: 80vw ;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;

}
.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.devPic{
    height: 78vh;
    
}